h1 {
    font-size: 60px;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    font-style: italic;
    font-size: 50px;
    color: #ab55bd;
}

h3 {
    font-family: "Indie Flower";
    color: rgb(212, 160, 223);
    font-size: 35px;
}

p {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 40px;
    line-height: 2;
    letter-spacing: 10px;
}